// astral-supernova color scheme for cosmic-term
// https://github.com/kmf/astral-journey

(
    name: "astral-supernova",
    foreground: Some("#292140"),
    background: Some("#fdf9ec"),
    cursor: Some("#b65608"),
    bright_foreground: Some("#1c1730"),
    dim_foreground: Some("#5d5c78"),

    black: Some("#292140"),
    red: Some("#d62e3f"),
    green: Some("#1d8156"),
    yellow: Some("#946900"),
    blue: Some("#2f5fc7"),
    magenta: Some("#a34fa8"),
    cyan: Some("#006699"),
    white: Some("#f6f0dc"),

    bright_black: Some("#5d5c78"),
    bright_red: Some("#c22f3e"),
    bright_green: Some("#187a4f"),
    bright_yellow: Some("#9c6e00"),
    bright_blue: Some("#2551ad"),
    bright_magenta: Some("#8f4494"),
    bright_cyan: Some("#005982"),
    bright_white: Some("#1c1730"),
)
